<% content_for :titulo do %>
    <%= Sip.titulo %>
<% end %>

<% content_for :menu do %>
  <%= grupo_menus do %>
    <% if !current_usuario.nil? %>
      <%= despliega_abajo "Casos" do %>
        <%= opcion_menu "Listado", sivel2_gen.casos_path,
          desplegable: true %>
        <% if can?(:new, Sivel2Gen::Caso) %>
          <%= opcion_menu "Nuevo Caso", sivel2_gen.new_caso_path,
            desplegable: true %>
          <%= opcion_menu "Refrescar Listado de Casos", 
            sivel2_gen.casos_refresca_path,
            desplegable: true %>
          <%= opcion_menu "Validar casos", sivel2_gen.validarcasos_path,
            desplegable: true %>
          <%= opcion_menu "Buscar repetidos", sivel2_gen.buscarrepetidos_path,
            desplegable: true %>
          <%= opcion_menu "Importar relatos XRLAT", 
            sivel2_gen.casos_importarrelatos_path, desplegable: true %>
        <% end %>
      <% end %>
      <%= despliega_abajo "Reportes y conteos" do %>
        <%= opcion_menu "Conteo demografía víctimas", 
          sivel2_gen.conteos_personas_path,
          desplegable: true %>
        <%= opcion_menu "Listado de víctimas y casos", 
          sivel2_gen.victimas_path,
          desplegable: true %>
        <%= opcion_menu "Conteo de victimizaciones individuales", 
          sivel2_gen.conteos_victimizaciones_path,
          desplegable: true %>
        <%= opcion_menu "Conteo general de víctimizaciones", 
          sivel2_gen.conteos_genvic_path,
          desplegable: true %>
        <%= opcion_menu "Graficar actos individuales", 
          sivel2_gen.graficar_actos_individuales_path,
          'data-turbo' => false,
          desplegable: true %>
        <%= opcion_menu "Graficar victimizaciones individuales", 
          sivel2_gen.graficar_victimizaciones_individuales_path,
          'data-turbo' => false,
          desplegable: true %>
      <% end %>
      <%= despliega_abajo "Mapas" do %>
        <%= opcion_menu "Casos sobre Open Street Maps", 
          sivel2_gen.casos_mapaosm_path, desplegable: true %>
        <%= opcion_menu 'Mapa-tiempo y gráficos', 
          main_app.mapatiempo_path,
          desplegable: true %>
        <%= opcion_menu 'Mapa de victimizaciones por departamento', 
          sivel2_gen.mapadepvic_path,
          'data-turbo' => false,
          desplegable: true %>

      <% end %>
      <%= despliega_abajo "Desaparición" do %>
        <%= opcion_menu "Lugares preliminares de disposición de cadaveres", 
          apo214.lugarespreliminares_path, desplegable: true %>
      <% end %>
    <% end %>
  <% end %>
  <%= grupo_menus :pull => :right do %>
    <% if !current_usuario.nil? %>
      <%= despliega_abajo "Documentos" do %>
        <%= opcion_menu "Manual", 
          'https://docs.google.com/document/d/1xr1vtkfpWdpM_VrEbHacm44NiMPCzAIcRUS1ENoBrQU/edit?usp=sharing', 
          target: '_blank', desplegable: true %>
        <%= opcion_menu "Nube", heb412_gen.sisini_path,
          desplegable: true %>
        <% if can? :manage, ::Heb412Gen::Plantillahcm %>
          <%= opcion_menu "Plantillas para listado en hojas de calculo",
            heb412_gen.plantillashcm_path,
            desplegable: true %>
        <% end %>
        <% if can? :manage, ::Heb412Gen::Plantillahcr %>
          <%= opcion_menu "Plantillas para un registro en hoja de calculo",
            heb412_gen.plantillashcr_path,
            desplegable: true %>
        <% end %>
      <% end %>
      <%= despliega_abajo "Administrar" do %>
        <%= opcion_menu "Clave y Tema", main_app.editar_registro_usuario_path,
          desplegable: true %>
        <% if session[:capturacaso_acordeon] %>
          <%= opcion_menu 'Ficha caso vertical ✓', 
            sivel2_gen.fichacasovertical_path,
            desplegable: true, id: 'fichacasovertical' 
          %>
        <% else %>
          <%= opcion_menu 'Ficha caso vertical', 
            sivel2_gen.fichacasovertical_path,
            desplegable: true, id: 'fichacasovertical' %>
        <% end %>
        <% if can? :read, Mr519Gen::Encuestausuario %>
          <%= opcion_menu 'Encuestas',
            mr519_gen.encuestasusuario_path,
            desplegable: true %>
        <% end %>
        <% if can? :manage, ::Usuario %>
          <%= opcion_menu "Usuarios", main_app.usuarios_path,
            desplegable: true %>
        <% end %>
        <%= opcion_menu "Árbol de presuntos responsables",
          sivel2_gen.arbol_presponsables_path, desplegable: true %>
        <% if can? :manage, :tablasbasicas %>
          <%= opcion_menu "Tablas Básicas", sivel2_gen.tablasbasicas_path,
            desplegable: true %>
        <% end %>
        <% if can? :manage, Sip::Respaldo7z %>
          <%= opcion_menu "Respaldo cifrado", sip.respaldo7z_path,
            desplegable: true %>
        <% end %>
        <% if can? :manage, Mr519Gen::Formulario %>
          <%= opcion_menu "Formularios", mr519_gen.formularios_path,
            desplegable: true %>
        <% end %>
      <% end %>
      <%= opcion_menu "Salir #{current_usuario.nusuario}", main_app.sign_out_path %>
    <% else %>
      <%= opcion_menu "Acerca de", sivel2_gen.acercade_path %>
      <%= opcion_menu "Iniciar Sesión", main_app.new_usuario_session_path %> 
    <% end %>
  <% end %>
<% end %>

<% content_for :piedepagina do %>
  <span style='font-size: 0.8rem; text-align: left'>
    <%= Rails.configuration.x.sivel2_consweb_pie ? 
      Rails.configuration.x.sivel2_consweb_pie.html_safe : '' %>
    <hr>
    <div align="right"> 
      Sistema de información de <a href="https://github.com/pasosdeJesus/sivel2">código abierto</a> desarrollado por <a href="https://www.pasosdeJesus.org" target="_blank">Pasos de Jesús</a>. 2021.

    </div>
  </span>
<% end %>

<%= render template: "layouts/sip/application" %>
